<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p>
    © <a href="{{ 'about' | relative_url }}" title="About me">Hsueh-Fang Yeh</a>. All rights reserved.
  </p>
</footer>

<script>
    var config = {
        startOnLoad: true,
        theme: 'forest',
        classDiagram: {
                useMaxWidth: false,
                htmlLabels: true
            }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>

<style>
.language-mermaid > svg {
    background-color: #e8e8e8;
}
</style>

