<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered-extended">
      <div class="grid-cell">
        {% include navigation.html %}
        <div class="row">
          <main class="column">
            {{ content }}
          </main>
          <aside class="column">
            {% include sidebar.html %}
          </aside>
        </div>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
