<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
          </header>

          <div class="article-list-header">
            <span class="article-list-date">
              {{ page.date | date: "%B %-d, %Y" }}
            </span>
          </div>

          <div class="article-content">
            {{ content }}
          </div>

          <div class="article-list-footer">
            <div class="article-list-tags">
              {% for tag in page.tags %}
                {% assign tag_name = site.my_tags | where: "slug", tag | map: "name" | first %}
                <!--<a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>-->
                <a href="{{ 'tag/' | relative_url }}{{ tag }}" title="See all posts with tag '{{ tag_name }}'">{{ tag_name }}</a>
              {% endfor %}
            </div>
          </div>
          <!-- <iframe src="https://button.like.co/in/embed/sharefun/button?referrer={{ site.url }}{{ page.url }}" frameborder="0"></iframe> -->

          {% if site.discus_identifier %}
            <div id="disqus_thread" class="article-comments"></div>
            <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
